{% extends "base.html" %}

{% block titulo %}Área do Candidato{% endblock %}


{% block menu%}
<div class="sidebar-container">
    <div class="sidebar-header">
        <h3>HUMANIZE360</h3>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="{{ url_for('perfil_candidato') }}">Perfil</a></li>
            <li><a href="{{ url_for('pag2_vagas') }}">Vagas</a></li>

            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block conteudo %}

<div class="main-content dashboard-container">
    <header class="welcome-header">
        <h2>Bem-vindo, <span class="destaque">{{ candidato.nome }}!</span></h2>
        <p>Acompanhe o status das suas candidaturas e oportunidades de carreira.</p>
    </header>

    <div class="status-grid">
        <div class="card-status info">
            <h3>{{ candidaturas_usuario|length }}</h3>
            <p>Candidaturas Realizadas</p>
        </div>
       <div class="card-status warning">
            <h3>{{ total_analise if total_analise > 0 else '0' }}</h3>
            <p>Em Análise</p>
       </div>
    </div>

    <div class="secao-candidaturas">
        <h3>Minhas Candidaturas</h3>
        {% if candidaturas_usuario %}
            <table class="tabela-status">
                <thead>
                    <tr>
                        <th>Vaga</th>
                        <th>Cidade</th>
                        <th>Status</th>
                        <th>Currículo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cand in candidaturas_usuario %}
                    <tr>
                        <td><strong>{{ cand.vaga_nome }}</strong></td>
                        <td>{{ cand.cidade }}</td>
                        <td>
                            <span class="badge badge-analise">Em Análise</span>
                        </td>
                        <td>
                            <a href="{{ url_for('uploads', filename=cand.curriculo) }}" target="_blank" class="btn-detalhes">
                                📄 Ver arquivo
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="sem-dados">
                <br>
                <p>Você ainda não se candidatou a nenhuma vaga.</p><br>
                <a href="{{ url_for('pag2_vagas') }}" class="btn-vagas">Explorar Vagas</a>
            </div>
        {% endif %}
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='js/css/perfil.css') }}">


{% endblock %}

 